.habilities {
 
  width: fit-content;
  padding-right: 25px;
  text-align: center;
  background-color: #99FFFF;
  border-radius: 0 10px 0 10px;
    margin: 0 auto;
    margin-top: 10px;
  text-align: center;
}
