.container {
  margin: 0 1rem;
}

.habilities {
  width: fit-content;
  padding: 7px;
  background-color: rgb(75, 13, 145);
  border-radius: 0 10px 0 10px;
  margin-top: 10px;
  
}

.progress {
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progressBar {
  width: 100%;
  margin-left: 1rem;
}


.progressContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.progressTitle {
  width: fit-content;
  text-align: center;
}

.detailsWrapper {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
}
